ul, li {margin: 0; padding: 0;}
li {list-style: none outside;}

#basics .oneRule:before {font-size: 16px;}
#basics .multipleRules:after {font-size: 16px; color: blue;}
#basics .last:before {color: orange;}

#edge .first:first-child {color: green;}
#edge .nth:nth-child(-n+6) {color: green;}